*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    margin: 40px 20px;
    box-shadow: 15px 15px 15px rgb(215, 213, 213);
    padding: 20px;
    
  }
  nav a {
    color: black;
    margin: 30px;
    font-size: 19px;
    padding: 30px;
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    justify-content: space-between;
    /* padding-top: 20px; */
    gap: 20px;
  }
  
  nav a:hover {
    font-weight: bold;
    color: rgb(213, 108, 108);
    transform: scale(1.05);
    /* background-color:rgb(246, 248, 248); */
  }


.container {
    background-color: rgb(226, 219, 221);
    padding: 20px;
    width: 500px;
    height: 1000px;
    border-radius: 10px;
    margin: 50px auto;
    box-shadow: 20px 20px 20px rgb(85, 84, 84);
  }
  h3{
    font-size: 25px;
  }
  .result {
    padding: 20px 0;
    background-color: lightgrey;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }
  .element {
    height: 150px;
    width: 120px;
    position: relative;
    background-color: azure;
  }
  h3 {
    color: brown;
  }
  .slider-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
  }
  .code-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
  }
  